:root {
    --border-radius-lg: 12px;
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card {
    border: none;
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-lg);
}

.icon-box {
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* Tabla Ranking */
.card-table-container {
    overflow: hidden;
}

.table-ranking thead th {
    background-color: #f8fafc;
    color: #4e73df;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 1.2rem 0.75rem;
    border-bottom: 2px solid #e2e8f0;
    text-align: center;
}

.table-ranking tbody td {
    padding: 1rem 0.75rem;
    border-bottom: 1px solid #f1f5f9;
}

/* Gráfico */
.chart-container-wrapper {
    position: relative;
    height: 320px;
    width: 100%;
    max-width: 98%;
    margin: auto;
}

/* Badge personalizado */
.filter-badge {
    background-color: #f1f5f9;
    color: #475569;
    border: 1px solid #e2e8f0;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-weight: 500;
}